<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
  <title>路径查询</title>
  <link rel="stylesheet" href="../static/css/consult.css" th:href="@{css/consult.css}">

</head>
<body>
    <div class="Max">
      <div class="container">
        <div class="image-container">
          <img src="../static/img/city.png" th:src="@{img/city.png}" alt="路径图">
<!--          <img src="../static/img/city.png"  alt="路径图">-->

        </div>
        <div class="login-container">
          <h2>车票查询</h2>
          <form action="user.do" th:action="@{/consult}" method="post">
            <label style="color: red" th:text="${msg}"></label>
            <label for="origin">始发站:</label>
            <input required type="text" id="origin" name="start" th:text="${originMessage}" placeholder="请输入始发站">

            <label for="destination">终点站:</label>
            <input required type="text" id="destination" name="destination" th:text="${destinationMessage}" placeholder="请输入目的站">

            <label for="date">出发日期:</label>
            <input required type="date" id="date" name="date">

            <button type="submit">查询</button>
            <div class="avatar">
              <div class="personal-info">
                <a th:href="@{/userInfo}" style="text-decoration: none;color: #4CAF50">个人信息</a><span> | </span> <a th:href="@{/myOrder}" style="text-decoration: none;color: #4CAF50">我的订单</a>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="site-info">
        <p>本网站版权所有 &copy; 2023,欢迎盗版</p>
        <p>联系方式：info@example.com</p>
        <p>地址：江西财经大学 双港西大街，南昌，中国</p>
      </div>
    </div>

    <script>
      var today = new Date();
      var maxDate = new Date();
      maxDate.setDate(today.getDate() + 30); // 设置最大日期为今天加30天

      document.getElementById('date').setAttribute('min', today.toISOString().split('T')[0]);
      document.getElementById('date').setAttribute('max', maxDate.toISOString().split('T')[0]);

      var year = today.getFullYear();
      var month = (today.getMonth() + 1).toString().padStart(2, '0');
      var day = today.getDate().toString().padStart(2, '0');
      var formattedDate = `${year}-${month}-${day}`;
      document.getElementById('date').setAttribute('value', formattedDate);
    </script>

</body>
</html>
