<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>车次信息</title>
    <link rel="stylesheet"  href="../static/css/order.css" th:href="@{css/res.css}">
</head>
<body>
<div class="back">
    <table>
        <tr>
            <th colspan="7">我的订单</th>
        </tr>
        <tr>
            <th>编号</th>
            <th>始发站</th>
            <th>终点站</th>
            <th>发车时间</th>
            <th>票价/￥</th>
            <th>支付状态</th>
            <th>操作</th>
        </tr>
        <tr th:if="${#lists.isEmpty(session.orderList)}">
            <th colspan="7">您的订单空空如也</th>
        </tr>
        <tr th:each="order, iterStat : ${session.orderList}">
            <td th:text="${iterStat.count}"></td>
            <td th:text="${order.ticket.startStation}"></td>
            <td th:text="${order.ticket.destinationStation}"></td>
            <td th:text="${#temporals.format(order.ticket.startTime, 'MM月dd日 HH:mm')}"></td>
            <td th:text="${order.ticket.price}"></td>
            <td th:text="${order.paymentStatus == 0 ? '未支付' : '已支付'}"></td>
            <td>
                <form th:if="${order.paymentStatus == 0}" th:action="@{/unPaidOrderInfo}" method="post">
                    <input type="hidden" name="orderId" th:value="${order.orderId}" />
                    <input style="background-color: #d84444" type="submit" value="继续支付" />
                </form>
                <form th:if="${order.paymentStatus == 1}" th:action="@{/orderInfo}" method="get">
                    <input type="hidden" name="orderId" th:value="${order.orderId}" />
                    <input type="submit" value="订单详情" />
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
