<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
  <title>车次信息</title>
    <link rel="stylesheet"  href="../static/css/res.css" th:href="@{css/res.css}">
</head>
<body>
        <div class="back">
            <table>
                <tr><th colspan="5">车次信息</th></tr>
                <tr>
                    <th>始发站</th>
                    <th>终点站</th>
                    <th>路程/km</th>
                    <th>耗时/h</th>
                    <th>票价/￥</th>
                </tr>
                <tr th:if="${totalLen} == 0">
                    <th colspan="6">对不起,不存在车次！！！</th>
                </tr>
                    <td th:text="${start}"></td>
                    <td th:text="${destination}"></td>
                    <td th:text="${totalLen}"></td>
                    <td th:text="${totalTime}"></td>
                    <td th:text="${totalMoney}"></td>
                <tr>
                    <td>路线信息：</td>
                    <td colspan="5" th:text="${PassingPath}"></td>
                </tr>
            </table>
        </div>
</body>
</html>
